In [17]:
# Select Elliptical Galaxies
from __future__ import print_function
import re

table = 'VisualMorphology'

import mysql.connector
from mysql.connector import errorcode

class switch(object):
    value = None
    def __new__(class_, value):
        class_.value = value
        return True

def case(*args):
    return any((arg == switch.value for arg in args))


def makeSQLrequest(flag,cursor,request) :
    try:
        if flag :
            print('Making SQLrequest : '+request)
        cursor.execute(request)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        if flag :
            print('OK')    
            
        
cnx = mysql.connector.connect(user='keith', password='kjhW0rthy#',
                              host='127.0.0.1',
                              database='SurveyData')

cursor = cnx.cursor()

DB_NAME = 'SurveyData'

request = 'DROP TABLE EllipticalGalaxies'
    
makeSQLrequest(True,cursor,request)
    
request = 'CREATE TABLE EllipticalGalaxies LIKE '+table
makeSQLrequest(True,cursor,request)
    
    
request = 'INSERT INTO `EllipticalGalaxies` SELECT * FROM '+table+ \
          ' WHERE ELLIPTICAL = Elliptical OR ELLIPTICAL_CODe = 1'
makeSQLrequest(True,cursor, request)

cnx.commit()

request = 'SELECT CATAID FROM EllipticalGalaxies'
makeSQLrequest(True,cursor, request)

records = cursor.fetchall()
print("Total number of rows in EllipticalGalaxies is: ", cursor.rowcount)

Making SQLrequest : DROP TABLE EllipticalGalaxies
OK
Making SQLrequest : CREATE TABLE EllipticalGalaxies LIKE VisualMorphology
OK
Making SQLrequest : INSERT INTO `EllipticalGalaxies` SELECT * FROM VisualMorphology WHERE ELLIPTICAL = Elliptical OR ELLIPTICAL_CODe = 1
OK
Making SQLrequest : SELECT CATAID FROM EllipticalGalaxies
OK
Total number of rows in EllipticalGalaxies is:  25536