In [20]:
# Create EllipticalStellaMasses i.e. Join of Elliptical and StellarMasses
from __future__ import print_function
import re

#newTable = 'EllipticalStellarMasses'
#table1 = 'EllipticalGalaxies'
#table2 = 'StellarMasses'

#columns = '*'

import mysql.connector
from mysql.connector import errorcode

class switch(object):
    value = None
    def __new__(class_, value):
        class_.value = value
        return True

def case(*args):
    return any((arg == switch.value for arg in args))


def makeSQLrequest(flag,cursor,request) :
    try:
        if flag :
            print('Making SQLrequest : '+request)
        cursor.execute(request)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        if flag :
            print('OK')
        
cnx = mysql.connector.connect(user='keith', password='kjhW0rthy#',
                              host='127.0.0.1',
                              database='SurveyData')

cursor = cnx.cursor()

DB_NAME = 'SurveyData'

request = 'DROP TABLE EllipticalStellarMasses'
    
makeSQLrequest(True,cursor,request)
    
request = 'CREATE TABLE EllipticalStellarMasses \
           SELECT sm.* FROM StellarMasses AS sm LEFT JOIN EllipticalGalaxies AS eg \
           ON sm.CATAID = eg.CATAID'
           
print(request)    
makeSQLrequest(True,cursor, request)
cnx.commit()

request = 'SELECT CATAID FROM EllipticalStellarMasses'
makeSQLrequest(True,cursor, request)

records = cursor.fetchall()
print("Total number of rows in EllipticalStellarMasses is: ", cursor.rowcount)

Making SQLrequest : DROP TABLE EllipticalStellarMasses
OK
CREATE TABLE EllipticalStellarMasses            SELECT sm.* FROM StellarMasses AS sm LEFT JOIN EllipticalGalaxies AS eg            ON sm.CATAID = eg.CATAID
Making SQLrequest : CREATE TABLE EllipticalStellarMasses            SELECT sm.* FROM StellarMasses AS sm LEFT JOIN EllipticalGalaxies AS eg            ON sm.CATAID = eg.CATAID
OK
Making SQLrequest : SELECT CATAID FROM EllipticalStellarMasses
OK
Total number of rows in EllipticalStellarMasses is:  120619