In [9]:
# Create Table of Red Ellipticals
from __future__ import print_function
import re


import mysql.connector
from mysql.connector import errorcode

class switch(object):
    value = None
    def __new__(class_, value):
        class_.value = value
        return True

def case(*args):
    return any((arg == switch.value for arg in args))


def makeSQLrequest(cursor,request) :
    try:
        print('Making SQLrequest : '+request)
        cursor.execute(request)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print('OK')
        
cnx = mysql.connector.connect(user='keith', password='kjhW0rthy#',
                              host='127.0.0.1',
                              database='SurveyData')

cursor = cnx.cursor()

DB_NAME = 'SurveyData'

request = 'DROP TABLE '+'RedEllipticalGalaxies'
    
makeSQLrequest(cursor,request)
    
request = 'CREATE TABLE RedEllipticalGalaxies \
           SELECT  CATAID \
           FROM EllipticalGalaxies as eg  \
           LEFT JOIN StellaMasses as sm ON eg.CATAID = sm.CATAID \
           WHERE sm.uminusr > 2'    
    
    
#request = 'INSERT INTO `EllipticalGalaxies` SELECT * FROM '+table+ \
#          ' WHERE ELLIPTICAL = Elliptical OR ELLIPTICAL_CODe = 1'
makeSQLrequest(cursor, request)
cnx.commit()

Making SQLrequest : DROP TABLE RedEllipticalGalaxies
Unknown table 'SurveyData.RedEllipticalGalaxies'
Making SQLrequest : CREATE TABLE RedEllipticalGalaxies            SELECT  CATAID            FROM EllipticalGalaxies as eg             LEFT JOIN StellaMasses as sm ON eg.CATAID = sm.CATAID            WHERE sm.uminusr > 2
Table 'SurveyData.StellaMasses' doesn't exist