In [17]:
#
#
#
import numpy as np
import scipy.stats as st
from astroquery.gama import GAMA
import matplotlib.pyplot as plt

line1 = 'SELECT CATAID,ELLIPTICAL,ELLIPTICAL_CODE,HUBBLE_TYPE FROM VisualMorphology'
line2 = ' WHERE ELLIPTICAL_CODE = 1 AND ( HUBBLE_TYPE is NULL or HUBBLE_TYPE = "E" )' 
line3 = ' LIMIT 50' 
query = line1 + line2+line3
result = GAMA.query_sql(query)
print(result)

CATAID ELLIPTICAL ELLIPTICAL_CODE HUBBLE_TYPE
------ ---------- --------------- -----------
  7839 Elliptical               1           E
  8450 Elliptical               1           E
  8487 Elliptical               1           E
  8488 Elliptical               1           E
 15317 Elliptical               1           E
 15481 Elliptical               1           E
 16022 Elliptical               1           E
 16392 Elliptical               1           E
 16507 Elliptical               1           E
 16514 Elliptical               1           E
   ...        ...             ...         ...
 65410 Elliptical               1           E
 70808 Elliptical               1           E
 70903 Elliptical               1           E
 77064 Elliptical               1           E
 77238 Elliptical               1           E
 77345 Elliptical               1           E
 77610 Elliptical               1           E
 77705 Elliptical               1           E
 78350 Elliptical               1           E
 78522 Elliptical               1           E
 78530 Elliptical               1           E
Length = 50 rows