In [3]:
#
#
#
import numpy as np
import scipy.stats as st
from astroquery.gama import GAMA
import matplotlib.pyplot as plt

line1 = ' SELECT CATAID,ELLIPTICAL,ELLIPTICAL_CODE,HUBBLE_TYPE FROM VisualMorphology' 
line2 = ' LIMIT 50'
query = line1 + line2
result = GAMA.query_sql(query)
print(result)

CATAID   ELLIPTICAL  ELLIPTICAL_CODE HUBBLE_TYPE
------ ------------- --------------- -----------
  6802 NotElliptical              10      Sd-Irr
  6808 -                           0      -
  6816 NotElliptical              10      -
  6821 NotElliptical              10      Sd-Irr
  6826 LBS                         2      -
  6837 NotElliptical              10      -
  6838 NotElliptical              10      -
  6842 NotElliptical              10      -
  6844 Elliptical                  1      -
  6846 NotElliptical              10      -
   ...           ...             ...         ...
  7192 -                           0      -
  7203 Elliptical                  1      -
  7206 NotElliptical              10      -
  7209 Elliptical                  1      -
  7211 -                           0      -
  7246 NotElliptical              10      -
  7289 Elliptical                  1      -
  7290 -                           0      -
  7293 NotElliptical              10      -
  7307 -                           0      -
  7311 -                           0      -
Length = 50 rows